/*Universal*/   
html {
   /*font-family: "Lucida Sans", sans-serif;*/
   /*font-family: "Futura", sans-serif;*/
   font-family: "Gorgia", sans-serif;
}

* {
  box-sizing: border-box;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

body {
    background-color: RGB(212,212,212);
    color: #606060;
    margin: 0;
}

.profileimg {
    border-radius: 50%;
    height: 300px;
    width: 300px;
    margin: 10px;
    float: left;
    display: inline-block;
}

.projectimg {
    height: 260px;
    width: 360px;
    float: left;
    display: block;
}

.projectlistimg {
    height: 250px;
    width: 250px;
    float: center;
    display: block;
}


footer {
    background-color: #2B6CA3;
    margin: 0;
    border-style: solid;
    border-width: 0px 0px 10px 0px;
    border-color: #002E5D;
    color: white;
}

footer p{
    display: inline;
    font-size: 10pt;
}
.navbutton {
    margin-top: 50px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    color: white;
    font-size: 12pt;
    border-style: none;
    
}

.navmenu{
    overflow: hidden;
    margin: auto;
    width: 50%;
}

.navmenu a{
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: #909090;
}

.navmenu a:hover{
    color: RGB(245,149,81);
}
.section {
    width: 120px;
    height: 120px;
    background-color: RGB(245,149,81);
    border-radius: 50%;
    text-align: center;
    color: white;
    font-size: 13pt;
    display: inline-block;
    float: left;
}

.iconcontainer1 {
    width: 40px;
    height: 40px;
    background-color: RGB(245,149,81);
    border-radius: 50%;
}

.iconcontainer2 {
    width: 35px;
    height: 35px;
    background-color: RGB(245,149,81);
    border-radius: 50%;
}
    
.workhistory {
    display: inline-block;
    width: 75%;
    padding-left: 20px;
}

.workhistory h3{
    display: inline-block;
    font-size: 14pt;
    font-weight: lighter;
    padding-bottom: 0px;
    padding-top: 20px;
    margin: 0;
}

.workhistory h4{
    padding-top: 0px;
    margin: 0;
    font-weight: normal;
}

.workhistory p{
    font-size: 11pt;
}

.linebreak1 {
    border-top-style: solid;
    border-width: thin;
    margin-top: 20px;
}

.linebreak2 {
    border-top-style: solid;
    border-width: thin;
}
/*local*/

/*Resume*/ 

/*Project List*/

.projectlisttitle {
    text-decoration: underline;
    font-weight: bold;
    font-size: 14pt;
}
